* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #f5f7fa;
    color: #333;
    
}

.my-header {
    background: #0a192f;
    padding: 15px 0;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 25px;
   
    
}
.navbar li {
    list-style: none;
}
.navbar a {
    text-decoration: none;
    color: #e6f1ff;
    font-weight: 500;
    transition: 0.3s;
}
.navbar a:hover {
    color: plum;
}
.FirstElement {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 10%;
    gap: 40px;
}
.due-photo img {
    width: 230px;
    border-radius: 8px;
}
.due-text h1 {
    font-size: 45px;
    color: #0a192f;
}
.due-text p {
    max-width: 550px;
    margin: 15px 0;
    line-height: 1.7;
}
.btn-group {
    margin: 20px 0;
}
.btn {
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
 background-color: #0a192f;
    margin-right: 10px;
    transition: 0.3s;
}
.btn:hover {
    background: plum;
}
.social a {
    color: #0a192f;
    font-size: 22px;
    margin-right: 15px;
    transition: 0.3s;
}
.social a:hover {
    color:plum;
}
.my-about {
    padding: 80px 10%;
  
}

.my-about .container {
    max-width: 1100px;
    margin: auto;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content {
    background: rgba(255, 243, 230, 0.13);
    padding: 40px 35px;
    border-radius: 20px;
    border: 1px solid rgba(255, 243, 230, 0.25);
    box-shadow: 0 0 35px rgba(0,0,0,0.15);
   
}

.about-content h4 {
    font-size: 33px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 1px;
}

.about-content p {
    margin: 12px 0;
    line-height: 1.7;
    color: #333;
    font-size: 17px;
    text-align: justify;
    justify-content: center;
}

.project-content {
    padding: 50px 10%;
    background: #F5F5F5;
    text-align: center;
}

.project-title h4 {
    font-size: 28px;
    margin-bottom: 5px;
    color: #333; 
}

.project-title p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #333; 
}


.projects {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.project {
    background: #0a192f; 
    color: aliceblue;
    flex: 0 0 30%; 
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project h4 {
    font-size: 18px;
    margin-bottom: 8px;
}

.project p {
    font-size: 14px;
    line-height: 1.4;
}


.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.contact-content {
    padding: 60px 10%;
}
.contact form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contact input,
.contact textarea {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #aaa;
}
.submit {
    background: #0a192f;
    color: white;
    border: none;
    cursor: pointer;
}
.submit:hover {
    background: plum;
}
.footer {
    text-align: center;
    padding: 25px 0;
    background: #0a192f;
    color: #e6f1ff;
    margin-top: 60px;
}