:root {
    --title-color: #eef1f7;
    --title-principale-color: #0a192f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    background: #f5f7fa;
    color: var(--title-principale-color);
}

.my-header {
    background: #284164;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0% 5%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color: var(--title-color);
}

.navbar {
    display: flex;
    gap: 25px;


}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #e6f1ff;
    font-weight: 500;
    transition: 0.3s;
}

.navbar a:hover {
    color: rgb(156, 203, 252);
}

.FirstElement {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeUp 1.3s ease forwards;
    background-color: rgba(1, 32, 111, 0.13);
    padding: 1% 5%;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.due-photo,
.due-text {
    width: 50%;
}

.due-photo img {
    width: 50%;
    border-radius: 10%;
}

.due-text h1 {
    font-size: 45px;
    color: var(--title-principale-color);
}

.due-text p {
    line-height: 1.8;
    text-align: justify;
    justify-content: center;
    font-size: 20px;
}

.btn-group {
    margin: 20px 0;
}

.btn {
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: var(--title-principale-color);
    margin-right: 10px;
    transition: 0.3s;
}

.btn:hover {
    color: #f5f7fa;
    background-color: rgb(156, 203, 252);

}

.social a {
    color: var(--title-principale-color);
    font-size: 22px;
    margin-right: 15px;
    transition: 0.3s;
}

.social a:hover {
    color: rgb(156, 203, 252);
}


#about-section {

    padding: 100px 0;
    display: flex;
    justify-content: center;
}


.about-card {
    background: #fff;
    border-radius: 10px;
    display: flex;
    padding: 1%;
    gap: 40px;
    align-items: center;
    margin: 0% 5%;
}

.about-image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    filter: brightness(55%);
}


.about-info h3 {
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 8px;
    color: var(--title-principale-color);
    letter-spacing: 1px;
}


.about-info p {
    line-height: 2;
    font-size: 16px;
    text-align: justify;
}


@media (max-width: 900px) {
    .about-card {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-image img {
        height: 280px;
    }

}


.project-content {
    padding: 1% 5%;
    background: #F5F5F5;
    text-align: center;

}

.project-title h4 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 5px;
    color: var(--title-principale-color);
}

.project-title p {
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--title-principale-color);
}

.projects {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.project {
    background-color: rgba(1, 32, 111, 0.13);
    color: aliceblue;
    flex: 0 0 30%;
    border-radius: 12px;
    border: 1px solid aliceblue;
    box-shadow: 20px 10px 45px rgba(56, 56, 56, 0.589);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.5s, background-color 0.5s;
}

@keyframes myAnimation {
    from {
        background-color: rgba(10, 12, 154, 0.13);
    }

    to {
        background-color: var(--title-principale-color);
    }
}

@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    cursor: pointer;
    animation: myAnimation 2s infinite alternate;
    animation:
        colorBackgroundAnimation 5s infinite alternate,
        pulseAnimation 2s infinite ease-in-out;

}

.project img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project h4 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 8px;
}

.project p {
    font-size: 14px;
    line-height: 1.4;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.contact-content {
    padding: 60px 10%;
}

.about-image {
    border-radius: 12px 0px 0px 12px;
    box-shadow: 0 0 35px rgba(255, 255, 255, 0.2);

}

.about-image,
.about-info {
    width: 50%;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact input,
.contact textarea {
    padding: 18px;
    border-radius: 6px;
    border: 1px solid #aaa;

}

input {
    width: 400px;
    background: #f5f7fa;
}

.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.input-box i {
    position: absolute;
    top: 50%;
    left: 10px;
    border: 1px solid transparent;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

.textarea-box textarea {
    width: 100%;
    padding: 12px 12px 12px 40px;
    min-height: 140px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #f5f7fa;
    font-size: 15px;
}

.submit {
    background: var(--title-principale-color);
    color: white;
    border: none;
    cursor: pointer;
}

.submit:hover {
    color: #f5f7fa;
    background-color: rgb(156, 203, 252);
}

.footer {
    text-align: center;
    padding: 25px 0;
    background: var(--title-principale-color);
    color: #e6f1ff;
    margin-top: 60px;
}

.contact-container {
    display: flex;
    gap: 3%;
    background: #28416461;
    border-radius: 2%;
    justify-content: center;
    align-items: center;
}
.contact-image  {
    width: 35%;
}
.contact-image ,.fromulaire {
    width: 65%;
}
.contact-image img{
    width: 100%;
    border-radius: 10%;
}
@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contact .about-image img {
        width: 150px;
    }

    .contact .input-box input,
    .contact .input-box textarea {
        max-width: 100%;
        width: 100%;
    }

    .FirstElement {
        flex-direction: column;
        padding: 40px 6%;
    }

    .projects {
        flex-direction: column;
    }
}